<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbde0OhjUr0ZMW4xvxL8h46EsX88OsGFg</string>
	<key>GCM_SENDER_ID</key>
	<string>556578707174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kymee.pocketplan</string>
	<key>PROJECT_ID</key>
	<string>pocketplan-3926e</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketplan-3926e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556578707174:ios:ee9d349accd3870cfccd27</string>
</dict>
</plist>